.intro{
        padding: 100px 0;
    .intro--col{
        padding: 0 $pd-30;
    }
    .intro__item{
        padding: $pd-30;
        border: 1px solid $color-white-2;
        border-radius: 4px;
        position: relative;
        &:hover{
            .intro__icon{
                background: $color-gold-0;
            }
        }
        h4{
            @include styleText($color-gray-2,$fs-4,$fw-1);
            letter-spacing: 1px;
            margin: $m-30 0 $m-20;
        }
        p{
            color: $color-gray-0;
            margin: 5px 0;
        }
        .intro__icon{
            position: absolute;
            transform: translateY(-100%);
            transition: all 0.3s;
            width: 60px;
            height: 60px;
            background: $color-gray-1;
            text-align: center;
            border-radius: 4px;
            box-shadow: 0 0 0 10px $color-white-0;
            i{
            color: $color-white-0;
            font-size: $fs-6 - 6;
            line-height: 60px;
            }
        }
    }
//  Responsive

}